body {
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    margin-left: 500 px;
    margin-right: 500 px;
    margin-top: 20 px;
    margin-bottom: 20 px;
}